<p style="color: green"><%= notice %></p>

<%= render @comment %>

<p><%= @comment.user.name %></p>
<p><%= session[:user_id]%></p>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment, @post) %> |
  <%= link_to "Back to comments", comments_path %>

  <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>
