<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1 class="title">People</h1>

<div id="people">
  <% @people.each do |person| %>
    <a href="<%= person_path(person) %>">
      <div class="box content mb-3 is-flex is-flex-direction-row is-align-items-center">
        <figure class="image is-64x64 my-0 ml-1 is-flex is-align-items-center">
          <%= image_tag person.img_url, alt: "#{person.name} image" %>
        </figure>
        <h3 class="my-0"><%= person.name %></h3>
        <!-- here is where we'll put tags/categories -->
      </div>
    </a>
  <% end %>
</div>

<strong><%= link_to "New person", new_person_path %></strong>
