<p style="color: green"><%= notice %></p>

<%= render @person %>

<p>This person is similar to:<p>
<ul>
<% @pokemon.each do |pokemon| %>
  <li><em><%= link_to pokemon.name, pokemon %></em>
    <ul>
      <% @posts.all.where(pokemon: pokemon).each do |post| %>
        <li><%= link_to post.content, post %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<div>
  <%= link_to "Edit this person", edit_person_path(@person) %> |
  <%= link_to "Back to people", people_path %>

  <%= button_to "Destroy this person", @person, method: :delete %>
</div>
