<p style="color: green"><%= notice %></p>

<%= render @person %>

<% if @pokemon.count > 0 %>
  <p>This person is similar to:<p>
  <ul>
  <% @pokemon.uniq.each do |pokemon| %>
    <li><em><%= link_to pokemon.name, pokemon %></em>
      <ul>
        <% @posts.all.where(pokemon: pokemon).each do |post| %>
          <li><%= link_to post.content, post %> <span style="color: <%= post.score_color %>;">(<%= post.score_text %>)</span></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>

<div>
  <%= link_to "Edit this person", edit_person_path(@person) %> |
  <%= link_to "Back to people", people_path %>

  <%= button_to "Destroy this person", @person, method: :delete %>
</div>
