<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1 class="title">Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <a href="<%= post_path(post) %>">
      <div class="box content is-flex is-flex-direction-row is-align-items-center mb-3 p-1">
        <img class="image is-64x64" src="<%= post.pokemon.img_url %>" alt="<%= post.pokemon.name %> image" />
        <p><strong><%= post.pokemon.name %> & <%= post.person.name %></strong></p>
      </div>
    </a>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
