<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= render @post %>

<p style="color: <%= @post.score_color %>;"><strong>Score:</strong> <%= @post.score_text %></p>

<% if @comments.count > 0 %>
  <h3>Comments:</h3>
  <ul>
    <% @comments.each do |c| %>
      <li style="color: <%= c.vote ? "green" : "red" %>;"><%= c.content %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Add a comment", "/posts/#{@post.id}/comments/new", method: :get %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
