<div id="<%= dom_id pokemon %>">
  <div class="is-flex is-align-items-center">
    <img src="<%= pokemon.img_url %>" alt="<%= pokemon.name %> image" />
    <p class="title">
      <%= pokemon.name %>
    </p>
  </div>
  
  <p> <%= pokemon.description %> </p>

</div>
