<p style="color: green"><%= notice %></p>

<h1 class="title">Pokémon</h1>

<div id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <a href="<%= pokemon_path(pokemon) %>">
      <div class="box content mb-3">
        <div class="is-flex is-align-items-center">
          <img class="image is-128x128" src="<%= pokemon.img_url %>" alt="<%= pokemon.name %> image" />
          <h3><%= pokemon.name %></h3>
        </div>
        <p><%= pokemon.description %></p>
      </div>
    </a>
  <% end %>
</div>

<%= link_to "New pokemon", new_pokemon_path %>
