<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= render @pokemon %>


<% if @pokemon.region %>
  <p><strong>Location:</strong> <%= @pokemon.region %></p>
<% end %>


<% if @people.count > 0 %>
  <br>
  <p><strong><%= @pokemon.name %> has been likened to...</strong><p>
  <% @people.uniq.each do |person| %>
    <div class="box content is-flex is-flex-direction-row mb-2">
      <p class="mb-0"><strong><%= link_to person.name, person %></strong></p>
      <ul class="mt-0">
        <% @posts.all.where(person: person).each do |post| %>
          <li><%= link_to post.content, post %> <span style="color: <%= post.score_color %>;">(<%= post.score_text %>)</span></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this pokémon", edit_pokemon_path(@pokemon) %> |
  <%= link_to "Back to pokémon", pokemons_path %>

  <%= button_to "Destroy this pokémon", @pokemon, method: :delete %>
</div>
