<p style="color: green"><%= notice %></p>

<%= render @pokemon %>

<div>
  <%= link_to "Edit this pokemon", edit_pokemon_path(@pokemon) %> |
  <%= link_to "Back to pokemons", pokemons_path %>

  <%= button_to "Destroy this pokemon", @pokemon, method: :delete %>
</div>
