<!DOCTYPE html>
<html>
  <head>
    <title>PeopleToPokemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- import bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- favicon -->
    <%= render 'application/favicon' %>
  </head>

  <body>
    <!-- Bulma Navbar! https://bulma.io/documentation/components/navbar/ -->
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- the logo -->
        <a class="navbar-item" href="/posts">
          <p><strong>PeopleToPokémon</strong></p>
        </a>

        <!-- don't get rid of this -->
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <!-- These are the links at the top left, after the logo -->
        <div class="navbar-start">
          <a class="navbar-item" href="/people">
            People
          </a>

          <a class="navbar-item" href="/pokemons">
            Pokémon
          </a>

          <a class="navbar-item" href="/posts">
            Posts
          </a>
        </div>

        <!-- We'll need this after we get sign up / log in implemented -->
        <div class="navbar-end">

          <!-- <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div> -->

        </div>
      </div>
    </nav>

    <!-- Adds some padding around everything -->
    <section class="section">
      <!-- sets a max width so nothing is unnecessarily large - particularly noticeable on giant screens -->
      <div class="container">
        <!-- this is where all the page content is added -->
        <%= yield %>
      </div>
    </section>

    <!-- script necessary for full bulma navbar functionality -->
    <script async type="text/javascript">
      // source: https://gist.github.com/Bradcomp/a9ef2ef322a8e8017443b626208999c1
      (function () {
          var burger = document.querySelector('.navbar-burger');
          var menu = document.querySelector('#' + burger.dataset.target);
          burger.addEventListener('click', function () {
              burger.classList.toggle('is-active');
              menu.classList.toggle('is-active');
          });
      })();
    </script>
  </body>
</html>
